<div id="home">
  <% if @current_visitor %>

  <%= render "layouts/in-session" %>

  <% else %>

  <%= render "layouts/not-in-session"%>

  <% end %>

  <div id="visitor-count">
    <div class="row">
      <div class="col-md-2.5">
        <div class="alert-info">
          Total visitors signed up: <b><%= @total %></b>
        </div>
      </div>
    </div>
  </div>
</div>
