<div align='center'>
  <!-- this waits in this page for 5 seconds and then redifrects to home page -->
  <meta HTTP-EQUIV="REFRESH" content="2; url=/">

  <h4>You will be redirected to the home page..</h4>

</div>
