/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #888;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  justify-content: right;
}

body {
  padding-top: 6.4em;
  background-color: #FCFFDB;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

#home {
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #444;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #777;
  font-size: 16px;

  a {
    color: #606060;
  }

  a:hover {
    color: #606060;
  }
}


/* forms */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#visitor-count  {
  .row {
    display: flex;
    justify-content: center;
  }
  .alert-info  {
    margin-top: 35px;
    margin-bottom: none;
    padding: 10px;
    text-align: center;
  }
}
