<footer class="footer">
  <small> Ⓒ 2021 | Developed by <a href = "https://juzershakir.github.io/", target="blank" >Juzer Shakir</a> with Rails <i><b>v6.1.4.1</b></i> & Ruby <i><b>v2.7.2</b></i>
  </small>
</footer>
