<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Session & Cookie", :root, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", :signup %></li>
        <li><%= link_to "Log In", :login %></li>
      </ul>
    </nav>
  </div>
</header>
