<h2>Hey Devs, Welcome to my First Rails Project</h2>
<p>This project is a demonstration of how to implement a session on Rails using the default session store, the <i>'CookieStore'</i>.</p>

<p>To see this in action, sign up with an email (it could be any as long as its in valid email format) and password (mimimum of 6 characters).</p>

<p>After signing up, you will be redirected to this page but now you will <b>no longer be able to see this content until you sign out.</b></p>

<div class="note">
    <div class="row">
    <div class="col-md-7">
        <div class="alert-danger">
        <b>Note:</b> You won't be able to enable session if you have disabled cookies in your browser.
        </div>
    </div>
    </div>
</div>