<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Session in Rails", :root, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log Out", :logout, method: "delete" %></li>
      </ul>
    </nav>
  </div>
</header>
